---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Page from '../layouts/Page.astro';
---

<Page
	title="About Me"
	description="It's me!"
	pubDate={new Date('January 28 2025')}
	heroImage={AboutHeroImage}
>

	<p>
		I'm a data analyst based in Sydney. I love working with data, building tools that make life easier, and I believe strongly in the power of using data to help elicit clarity from chaos.
	</p>
	<ul>
		<li>I'm currently working as an analyst at <a href="https://unsw.edu.au/">UNSW Sydney</a> as part of the People Data & Insights Team. I produce reports that help build trust with our employees, generate actionable insights, and ensure that we meet our obligations as an employer. We use <strong>Databricks</strong>, <strong>Power BI</strong>, <strong>PeopleSoft HCM</strong>, and <strong>Oracle SQL</strong>.</li>
		<li>Before that, I worked at <a href="https://pwc.com.au/">PwC Australia</a> as part of the Diversity, Inclusion and Wellbeing consulting team. Our team helped organisations across Australia in tackling the challenge of helping their employees bring their best selves to work, and do their best work, using data. We used <strong>Power BI</strong>, <strong>Alteryx</strong>, <strong>Tableau</strong>, and other analysis tools as needed.</li>
		<li>Before that, I worked at <a href="https://www.smartgroup.com.au/">Smartgroup</a>, reporting directly to the Chief People Officer and having responsibility for reporting on our workforce, tracking internal metrics, and producing reports required by legislation. We used <strong>Salesforce</strong>, <strong>ELMO</strong> and <strong>Power BI</strong>.</li>
	</ul>
	<p>
		In my personal time, I enjoy solving puzzles, singing, and travelling.
	</p>
	<ul>
		<li>
			I've worked extensively on <a href="https://github.com/jimsug/jolly-roger">my fork of Jolly Roger</a>, an online <a href="https://blog.vero.site/post/puzzlehunts">puzzlehunt</a> collaboration tool <a href="https://github.com/deathandmayhem/jolly-roger">originally developed by the team Death and Mayhem</a>. This is written in <strong>Typescript</strong> and is a <strong>React</strong> app, using <strong>Meteor</strong> and <strong>MongoDB</strong> for live updates.
		</li>
		<li>
			I also did an Honours degree in linguistics, supervised by <a href='https://en.wikipedia.org/wiki/J._R._Martin'>James Martin</a>, so I have an extant interest in linguistics and language policy.
		</li>
	</ul>
</Page>
