---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hello!</h1>
			<p>I'm James and this is my site.</p>

			<p>You might be interested in my <a href="/blog">posts</a>, or finding out more <a href="/about">about me</a>.</p>
		</main>
		<Footer />
	</body>
</html>
